<div class="container main">
  
    <div class="row">

      <div class="col-7 text-left">
        <div class="jumbotron">
            {{#each articles}}
              {{> articles/article-block}}
            {{/each}}
        </div>
      </div>

      <div class="col-5" id="all-comments">
      </div>
    </div>
</div>