body {
  font-family: 'Source Code Pro', monospace;
}

article{
  margin-top: 25px;
  padding: 30px;
  border: 3px solid;
  border-color: darkred;
  border-radius: 25px;
}

.jumbotron{
  background-color: white;
  color: black
}

.comment{
  margin-top: 25px;
  padding: 30px;
  border: 2px solid darkred;
  border-radius: 25px;
  position:relative;
  overflow: hidden;
  justify-content: baseline
}

.btn-fix{
  margin-top:10px;
  color: darkred;
  border-color: darkred;
}

.btn-fix:hover {
  color: white;
  background-color: darkred
}

.delComment{
  position: absolute;
  font-size: 1.5rem;
  top:0rem;
  right:.7rem;
  color:darkred;
}

.delComment:hover {
  cursor: pointer;
}



.inp{
  background-color: transparent !important;
  border-color: darkred;
  color: darkred !important;
}

textarea.inp{
  resize: none;
  height:8.6rem;
}

.modal-content{
  background-color: black;
}